upgrade/*
themes/twentyten/*
themes/twentyeleven/*
languages/*
plugins/woocommerce/i18n/*
plugin/akismet/*

#upload
uploads/2008/*
uploads/2009/*
uploads/2010/*
uploads/2011/*
uploads/2012/*
uploads/2013/04/*
uploads/2013/01/*
uploads/2013/03/*
uploads/2013/02/*
uploads/articlelogo/*
uploads/oldarticle/*
images/*
*.tar
.DS_Store
